@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=DM+Sans:opsz,wght@9..40,200&family=Raleway:wght@300;400&display=swap");

/* Defaults */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0c0d13;
  font-family: "Raleway", sans-serif;
}

button,
fieldset,
input,
legend,
select,
textarea {
  appearance: none;
}

/* End of Defaults */

:root {
  --initialRotateX: -15deg;
  --initialRotateY: -37deg;
  --defaultBoxTranslations: translateZ(100px) translateY(-100px)
    translateX(-100px);
  --rotateDuration: 1s;
  --openingDuration: 1s;
  --zoomDuration: 1s;
  --textColor: white;

  --primary-font-color: white;
  --secondary-font-color: rgb(209, 49, 49);
  --language-icon-size: 100px;
  --page-max-width: 1500px;
  --default-outside-padding: 15px 30px 15px;

  --themeColor: #0c0d13;
  --foregroundColor: rgba(0, 0, 0, 0);
  --introSubtitleLength: 355px;
  --introMessageTypingHoldTime: 2s;
  --introMessageTypingTime: 1.5s;
  --introMessageHideStart: 1s;
  --introMessageFadeHoldTime: calc(
    var(--introMessageTypingHoldTime) + var(--introMessageTypingTime) + 1s
  );
  --introMessageFadeTime: 1s;
  --introBoxHoldTime: calc(
    var(--introMessageFadeHoldTime) + var(--introMessageFadeTime) + 0.5s
  );
  --introNavHoldTime: calc(var(--introBoxHoldTime) + 2s);
  --titleFont: Arial, Helvetica, sans-serif;
  --clickedButtonShadow: inset 0px 0px 3px grey;
  --clickedRedButtonShadow: inset 10px 0px 20px rgb(51, 0, 0);
}

/* Start of intro message styling */

.intro-message {
  position: absolute;
  justify-content: center;
  text-align: center;
  width: var(--introSubtitleLength);
  color: var(--textColor);
  font-family: var(--titleFont);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: hideIntro var(--introMessageFadeTime) ease-in
    var(--introMessageFadeHoldTime) 1 normal forwards;
}

@keyframes hideIntro {
  0% {
    opacity: 100%;
  }

  99% {
    opacity: 0%;
    transform: translate(-50%, -50%);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -1000px);
  }
}

.typing-wrapper {
  display: grid;
  place-items: center;
}

.intro-subtitle {
  width: 0;
  animation: typing var(--introMessageTypingTime) steps(24)
      var(--introMessageTypingHoldTime) forwards,
    blink 0.5s step-end 3 alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  outline: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}

@keyframes typing {
  to {
    width: var(--introSubtitleLength);
  }
}

@keyframes blink {
  50% {
    border-right-color: transparent;
  }
}

/* End of intro message styling */

/* Start of nav message styling */

.nav-message {
  position: absolute;
  top: 10%;
  justify-content: center;
  text-align: center;
  color: var(--textColor);
  font-family: var(--titleFont);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
}

.nav-message.active {
  opacity: 1;
  pointer-events: all;
  animation: hideText 1s ease-in 0s 1 reverse backwards;
}

.nav-message.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s;
}

@keyframes hideText {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.nav-message h1 {
  font-size: 2rem;
}

@media (max-width: 1150px) {
  .nav-message h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 750px) {
  .nav-message {
    top: 5%;
  }
}

@media (max-width: 450px) {
  .nav-message h1 {
    font-size: 1.3rem;
  }
}

/* End of nav message styling */

.container {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  margin: auto;
  perspective: 600px;
  overflow: hidden;
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(var(--initialRotateX)) rotateY(var(--initialRotateY))
    translateY(-1000px) rotateZ(349deg);

  animation: boxIntro 2s cubic-bezier(0.43, 1.72, 1, 1.02)
    var(--introBoxHoldTime) 1 normal forwards;
}

@keyframes boxIntro {
  100% {
    transform: rotateX(var(--initialRotateX)) rotateY(var(--initialRotateY));
  }
}

@keyframes rotateToFace {
  0% {
  }

  34% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  67% {
    transform: rotate(0deg) translateZ(0px);
  }

  100% {
    transform: rotateZ(180deg) translateZ(500px);
  }
}

@keyframes rotateToEducation {
  0% {
  }

  34% {
    transform: rotateX(0deg) rotateY(-90deg);
  }

  67% {
    transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg) translateZ(0px);
  }

  100% {
    transform: rotateY(-90deg) rotateZ(0deg) rotateX(180deg) translateX(500px);
  }
}

@keyframes rotateToAbout {
  0% {
  }

  34% {
    transform: rotateX(0deg) rotateY(180deg);
  }

  67% {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateZ(0px);
  }

  100% {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(180deg) translateZ(-500px);
  }
}

@keyframes rotateToContact {
  0% {
  }

  34% {
    transform: rotateX(0deg) rotateY(90deg);
  }

  67% {
    transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg) translateZ(0px);
  }

  100% {
    transform: rotateY(90deg) rotateZ(0deg) rotateX(180deg) translateX(-500px);
  }
}

@keyframes closeBox {
  0% {
    transform: rotateZ(180deg) translateZ(500px);
  }

  100% {
    transform: rotate(0deg) translateZ(0px) rotateX(var(--initialRotateX))
      rotateY(var(--initialRotateY));
  }
}

/* Applies animations on box to rotate to each face and zoom in when double clicked */
.box.projectsActive {
  animation: rotateToFace
    calc(var(--rotateDuration) + var(--rotateDuration) + var(--zoomDuration))
    ease-in-out 0s 1 normal forwards;
}
.box.educationActive {
  animation: rotateToEducation
    calc(var(--rotateDuration) + var(--rotateDuration) + var(--zoomDuration))
    ease-in-out 0s 1 normal forwards;
}
.box.aboutActive {
  animation: rotateToAbout
    calc(var(--rotateDuration) + var(--rotateDuration) + var(--zoomDuration))
    ease-in-out 0s 1 normal forwards;
}
.box.contactActive {
  animation: rotateToContact
    calc(var(--rotateDuration) + var(--rotateDuration) + var(--zoomDuration))
    ease-in-out 0s 1 normal forwards;
}

.box.closed {
  animation: closeBox
    calc(var(--rotateDuration) + var(--rotateDuration) + var(--zoomDuration))
    ease-in-out 0s 1 normal forwards;
}

.box-face {
  position: absolute;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--foregroundColor);
  color: var(--textColor);
  user-select: none;
  font-family: var(--titleFont);
}

.box .frontFace {
  transform: rotateY(0deg) var(--defaultBoxTranslations);
  transform-style: preserve-3d;
}
.box .frontRear {
  transform: translateZ(-1px);
}

@keyframes slideOpen {
  0% {
    transform: var(--defaultBoxTranslations);
  }

  50% {
    transform: var(--defaultBoxTranslations) translateY(50px);
  }

  100% {
    transform: var(--defaultBoxTranslations) translateY(100vh);
  }
}
.frontFace.open {
  animation: slideOpen 1s ease-in-out var(--rotateDuration) 1 normal forwards;
}
.frontFace.closed {
  animation: slideOpen 1s ease-in-out 2s 1 reverse backwards;
}

.box .rightFace {
  transform: rotateY(90deg) var(--defaultBoxTranslations);
  transform-style: preserve-3d;
}
.box .rightRear {
  transform: translateZ(-1px);
}

@keyframes slideEducationOpen {
  0% {
    transform: rotateY(90deg) translateY(-100px) translateX(-100px)
      translateZ(100px);
  }

  50% {
    transform: rotateY(90deg) translateY(-100px) translateX(-100px)
      translateZ(100px) translateY(50px);
  }

  100% {
    transform: rotateY(90deg) translateY(-100px) translateX(-100px)
      translateZ(100px) translateY(100vh);
  }
}
.rightFace.open {
  animation: slideEducationOpen 1s ease-in-out var(--rotateDuration) 1 normal
    forwards;
}
.rightFace.closed {
  animation: slideEducationOpen 1s ease-in-out 2s 1 reverse backwards;
}

.box .backFace {
  transform: rotateY(180deg) var(--defaultBoxTranslations);
  transform-style: preserve-3d;
}
.box .backRear {
  transform: translateZ(-1px);
}

@keyframes slideAboutOpen {
  0% {
    transform: rotateY(180deg) translateX(-100px) translateY(-100px)
      translateZ(100px);
  }

  50% {
    transform: rotateY(180deg) translateX(-100px) translateY(-100px)
      translateZ(100px) translateY(50px);
  }

  100% {
    transform: rotateY(180deg) translateX(-100px) translateY(-100px)
      translateZ(100px) translateY(100vh);
  }
}
.backFace.open {
  animation: slideAboutOpen 1s ease-in-out var(--rotateDuration) 1 normal
    forwards;
}
.backFace.closed {
  animation: slideAboutOpen 1s ease-in-out 2s 1 reverse backwards;
}

.box .leftFace {
  transform: rotateY(-90deg) var(--defaultBoxTranslations);
  transform-style: preserve-3d;
}
.box .leftRear {
  transform: translateZ(-1px);
}

@keyframes slideContactOpen {
  0% {
    transform: rotateY(-90deg) translateX(-100px) translateY(-100px)
      translateZ(100px);
  }

  50% {
    transform: rotateY(-90deg) translateX(-100px) translateY(-100px)
      translateZ(100px) translateY(50px);
  }

  100% {
    transform: rotateY(-90deg) translateX(-100px) translateY(-100px)
      translateZ(100px) translateY(100vh);
  }
}
.leftFace.open {
  animation: slideContactOpen 1s ease-in-out var(--rotateDuration) 1 normal
    forwards;
}
.leftFace.closed {
  animation: slideContactOpen 1s ease-in-out 2s 1 reverse backwards;
}

.box .topFace {
  transform: rotateX(90deg) var(--defaultBoxTranslations);
  transform-style: preserve-3d;
}
.box .topRear {
  transform: translateZ(-1px);
}

.box .bottomFace {
  transform: rotateX(-90deg) var(--defaultBoxTranslations);
  transform-style: preserve-3d;
}
.box .bottomRear {
  transform: translateZ(-1px);
}

.box-face.rear {
  border: 1px solid silver;
  background-color: #181818;
}

/* Start of Projects page styling */

.page {
  height: 100vh;
  width: 100vw;
  background-color: var(--themeColor);
  color: white;
  padding: 10px;
  overflow-y: auto;
}

.page .content {
  position: relative;
  z-index: 10;
}

.projects-page {
  position: absolute;
  top: 0;
  opacity: 0;
  pointer-events: none;
}

.projects-page.active {
  opacity: 1;
  pointer-events: all;
  animation: fadeOut 1s ease-in 2.5s 1 reverse backwards;
}

.projects-page.hide {
  opacity: 1;
  pointer-events: none;
  animation: fadeOut 1s ease-in 1s 1 normal forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    scale: 1;
  }

  100% {
    opacity: 0;
    scale: 0;
  }
}

.projects {
  color: white;
  max-width: var(--page-max-width);
  margin: 0 auto;
}

.projects > h1 {
  text-align: center;
  font-size: 3.5rem;
}

.projects .flex-wrapper {
  display: flex;
}

.projects .flex-wrapper > .description {
  flex: 1;
  padding: var(--default-outside-padding);
}

.projects .flex-wrapper > img {
  flex: 2.5;
  min-width: 0;
  object-fit: cover;
  margin: var(--default-outside-padding);
  border-radius: 10px;
}

.projects /* .description */ button {
  display: block;
  border: 1px solid var(--secondary-font-color);
  color: var(--secondary-font-color);
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  scale: 1;
  transition: scale ease-in-out 0.5s;
}

.projects /* .description */ button:hover {
  scale: 1.1;
  transition: scale ease-in-out 0.5s;
}

.projects a {
  text-decoration: none;
}

button:active {
  box-shadow: var(--clickedRedButtonShadow);
}

@media (max-width: 800px) {
  .about-me .flex-wrapper,
  .projects .flex-wrapper {
    flex-direction: column;
  }

  .projects h2 {
    text-align: center;
  }

  .projects .flex-wrapper img {
    order: 1;
  }

  .projects .flex-wrapper .description {
    order: 2;
  }

  .projects .description button {
    margin: 10px auto;
  }
}

.page .home-button {
  margin: auto;
}

/* End of Projects page styling */
